ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    height: 50px;
    width: 100vw;
}
 .box{
    font-size: 50px;
 }
.gk{
    border: 2px solid black;

}

